body {
    background-color: #333;
    color: white;
}

.check_tittle h2 {
    color: white;
}

.best_business_area .it_works .business_content .media .media-body a {
    color: white;
}

.best_business_area .it_works .business_content .media .media-body p {
    color: white;
}